@model IEnumerable<NSPecor.Models.GEOB_MAPAS_CATALOGO>

@{
    ViewBag.Title = "Mapas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mapas y Visores</h2>
@Styles.Render("~/Content/dataTablescss")
@Scripts.Render("~/bundles/dataTablesjs")

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table id="listado">
    <thead>

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TITULO)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GEOB_GRUPOS.GRUPO)
            </th>
            <th>
                CATALOGO
            </th>
            <th>
                TEMATICA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TITULO)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GEOB_ESTADO.ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GEOB_GRUPOS.GRUPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GEOB_TIPO_CATALOGO.TIPO_MAPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GEOB_TEMATICAS.NOMBRE)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_MAPA }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.ID_MAPA }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ID_MAPA })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#listado').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>
