@model NSPecor.Models.GEOB_SERVICIOS_CATALOGO

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Geoservicios</h2>

<h3>Esta seguro que desea borrar?</h3>
<div>
    <h4>Borrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
           PALABRAS CLAVE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAGS)
        </dd>

        <dt>
            ARCHIVO DE DESCARGA ZIP
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZIP)
        </dd>

        <dt>
           FECHA REGISTRO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_ESTADO.ESTADO)
        </dd>

        <dt>
           ESTANDAR
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_TIPO_SRV.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
