@model NSPecor.Models.GEOB_SERVICIOS_CATALOGO

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Geoservicios</h2>

<div>
    <h4>Detalle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            PALABRAS CLAVE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAGS)
        </dd>


        <dt>
           FECHA REGISTRO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_ESTADO.ESTADO)
        </dd>

        <dt>
            ESTANDAR
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_TIPO_SRV.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_SERVICIO }) |
    @Html.ActionLink("Regresar", "Index")
</p>
