@model NSPecor.Models.GEOB_TEMATICAS

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tematicas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_TEMATICA)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE,"TEMATICA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE)
                @Html.ValidationMessageFor(model => model.NOMBRE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URL_IMG, "IMAGEN", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL_IMG)
                @Html.ValidationMessageFor(model => model.URL_IMG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_ID_ESTADO, "ESTADO", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_ID_ESTADO", String.Empty)
                @Html.ValidationMessageFor(model => model.FK_ID_ESTADO)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPCION)
                @Html.ValidationMessageFor(model => model.DESCRIPCION)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
