@model NSPecor.Models.GEOB_GRUPOS

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupos</h2>

<h3>esta seguro que desea borrar?</h3>
<div>
    <h4>Borrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GRUPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUPO)
        </dd>

        <dt>
           FECHA REGISTRO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_ESTADO.ESTADO)
        </dd>

        <dt>
           TEMATICA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_TEMATICAS.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
