@model NSPecor.Models.GEOB_GRUPOS

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupos</h2>

<div>
    <h4>Detalle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GRUPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUPO)
        </dd>

        

        <dt>
            FECHA REGISTRO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_ESTADO.ESTADO)
        </dd>

        <dt>
           TEMATICA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_TEMATICAS.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_GRUPO }) |
    @Html.ActionLink("Regresar", "Index")
</p>
