@model NSPecor.Models.GEOB_ENLACES_PANEL

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enlaces del Panel</h2>

<div>
    <h4>Detalle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
           URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_ENLACE)
        </dd>

        

        <dt>
            FECHA REGISTRO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEOB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_ESTADO.ESTADO)
        </dd>

        <dt>
            PANEL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEOB_PANEL.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_ENLACE }) |
    @Html.ActionLink("Regresar", "Index")
</p>
