@{ var idUsuario = HttpContext.Current.Application["idUsuario"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/app")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top concrete" role="banner">
        <div class="navbar-header ">
            <a class="navbar-brand" href="https://www.upme.gov.co" target="_blank"><img src="~/images/logo.png" alt="logo" height="45"></a>
        </div>
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (idUsuario != "" && idUsuario != null && User.Identity.IsAuthenticated == true)
                    {
                        if (NSPecor.Controllers.GlobalVariables.Acceso("17"))
                        {
                            <li>@Html.ActionLink("Admin Usuarios", "Parametros", "Home")</li>
                            <li>@Html.ActionLink("Admin GEO", "ParametrosGEO", "Home")</li>
                            <li>@Html.ActionLink("Admin Sitios - Subestaciones", "ParametrosSitiosSub", "Home")</li>
                        }
                        else if (NSPecor.Controllers.GlobalVariables.Acceso("18"))
                        {
                            <li>@Html.ActionLink("Admin Usuarios", "Parametros", "Home")</li>
                            <li>@Html.ActionLink("Admin Sitios - Subestaciones", "ParametrosSitiosSub", "Home")</li>
                        }
                        else { 
                            <li>@Html.ActionLink("Admin Usuarios", "Parametros", "Home")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        

    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
